*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #f1f1f1;

}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

li {
  display: inline;
}

img {
  object-fit: cover;
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  height: auto;
}
